@import './params.scss';

button {
	cursor: pointer;
}

a {
  text-decoration: none;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.items-center{
  align-items: center;
}

.content-center{
  justify-content: center;
}

.content-between {
  justify-content: space-between;
}

.cursor-pointer {
  cursor: pointer;
}

.color-white, .text-white {
  color: #fff;
}

.wrap {
  flex-wrap: wrap;
}

.w-half {
  width: 50%;
}

.w-20 {
  width: 20%;
}
.mt-100 {
  margin-top: 100px;
}

.mb-100 {
margin-bottom: 100px;
}
.nowrap {
  white-space: nowrap;
}
.text-left {
  text-align: left !important;
}
.items-end {
  align-items: flex-end;
}

.text-center {
  text-align: center !important;
}
.w-full {
  width: 100%;
  max-width: 100%;
}

.fa {
  font-family: "FontAwesome";
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $light;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $light;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $light;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $light;
}
.btn_main {
  text-align: center;
  height: 52px;
  min-width: 192px;
  /* 	 */
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 52px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;

  
  
  color: #FFFFFF;

  background: #1D88DD;
  border-radius: 6px;
  cursor: pointer;
  &:hover {
    background-color: #3EA9FF;
    color: #fff;
  }
  &:focus {
    background: #1D88DD;
    color: #fff;
  }

  &.disabled,
  &:disabled {
    cursor: not-allowed;
    background: #212736;
    color: rgba(255, 255, 255, 0.3);
  }
}
.btn_dark {
  text-align: center;
  height: 52px;
  min-width: 192px;
  /* 	 */
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 52px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;

  transition: all 0.3 ease;
  
  color: #FFFFFF;
  background: #212736;
  border-radius: 6px;
  cursor: pointer;
  &:hover {
    background: #1D88DD;    color: #fff;
  }
  &:focus {
    background: #1D88DD;
    color: #fff;
    opacity: 0.5;

  }

  &.disabled,
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
   
    .icon--blue {
      display: initial;
    }
    .icon--white {
      display: none;
    }
  }
}


.btn {
  background: #08105b;
  border-radius: 15px 0px 15px 15px;
  border: none;
  text-align: center;
  display: inline-block;
  padding: 15px;
  img {
    margin: auto;
  }
  &:hover {
    opacity: 0.8;
  }
  &:focus {
    opacity: 0.7;
  }
}
.productcard__addtocart {
  width: 60px;
  height: 60px;
  background-image: url(../img/addtocart.svg);
  background-repeat: no-repeat;
  background-position: center;
}
/* .productcard__addtocart.active {
  background-image: url(../img/selected_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
} */

.btn_texticon {
  display: inline-flex;
  height: 66px;
  align-items: center;
  transition: .5s ease-out;
  background: #1D88DD;
  position: relative;
  overflow: hidden; 
 border-radius: 6px;
transition: all 0.3s ease;
 &:hover {
  .btn__text {
    background: #3EA9FF;    color: #fff;
  }
   
  }
  &:focus {
    background: #1D88DD;
    color: #fff;
    opacity: 0.5;

  }

  &.disabled,
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
   
    .icon--blue {
      display: initial;
    }
    .icon--white {
      display: none;
    }
  }
}
.btn__text {
  background: #1D88DD;
  font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 23px;
text-transform: uppercase;
align-items: center;
display: flex;
height: 100%;
justify-content: center;
color: #FFFFFF;
padding: 0 36px;
transition: all 0.3s ease;

}
.btn_texticon .btn__icon {
  background: #1873BC;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 66px;
}

.btn_icon {
  width: 48px;
  height: 48px;
  padding: 0;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}


#video-bg {
  height: 100%;
  margin-top: 0;
  max-height: 100%;
  overflow: hidden;
  right: 0;
  z-index: 1;
  z-index: -1
}

#video-bg,
#video-bg:after {
  left: 0;
  position: absolute;
  top: 0
}

#video-bg:after {
  content: "";
  width: 100%
}

#video-bg>video {
  position: absolute;
  left: -9999px;
  right: -9999px;
  margin: auto;
  width: unset;
  height: 100%;
 /*  max-width: initial; */
  top: -9999px;
  bottom: -9999px;
 /*  max-height: initial; */
}

@media (max-width: 1023px) {
  .mobile-full {
    width: 100% !important;
  }
  .btn_texticon  {
    font-size: 14px;
    height: 52px;
    .btn__text {
      white-space: nowrap;
      font-size: 14px;

    }
  }
  .btn_texticon .btn__icon {
    width: 52px;
  }
 
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
}
}

