<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>

        <div class="breadcrumbs">
          <div class="container">
            <div class="breadcrumbs__items">
              <ul>
                <li><a href="/"><span>Главная страница</span></a></li>
                <li><span>Персональный раздел</span></li>
              </ul>
            </div>
            <!-- /.breadcrumbs__items -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.breadcrumbs -->
        
       <div class="pagebanner">
        <div class="container">
          <div class="pagebanner__wrapper" style='background-image: url(img/pagebannerbg.png);'>
            <div class="pagebanner__content">
              <div class="pagebanner__left">
                <div class="pagebanner__main">
                  <div class="pagebanner__title">
                    Закажите <br> <span class="mark">на сумму от 2000 ₽</span> <br> и не платите за доставку!*
                
                  </div><!-- /.pagebanner__title -->
                </div><!-- /.pagebanner__main -->
              </div><!-- /.pagebanner__left -->
              <div class="pagebanner__right">
                <div class="pagebanner__image">
                  <div class="pagebanner__img">
                    <img src="img/pagebanner1.png" alt="">
                  </div><!-- /.pagebanner__img -->
                </div><!-- /.pagebanner__image -->
              </div><!-- /.pagebanner__righ -->
            </div><!-- /.pagebanner__content -->
          </div><!-- /.pagebanner__wrapper -->
        </div><!-- /.container -->
       </div><!-- /.pagebanner -->


      
       <div class="pageblocksl">
        <div class="container">
          <div class="blockheader flex items-center content-between">
            <div class="blockheader__left">
              <h2>Условия платной доставки:</h2>
            </div>
          </div>
          <div class="flex deliveryblock items-end">
            <div class="blocklist">
              <div class="blocklist__item">
                <div class="blocklist__wrapper">
                  <div class="blocklist__title">В пределах МКАД: <b>350 ₽</b> </div><!-- /.blocklist__title -->
                  <div class="blocklist__text">минимальная сумма заказа <b>450 ₽</b>  <br>
                    при заказе от <b>3 000 ₽ - бесплатно</b> </div><!-- /.blocklist__text -->
                </div><!-- /.blocklist__wrapper -->
              </div><!-- /.blocklist__item -->
              <div class="blocklist__item">
                <div class="blocklist__wrapper">
                  <div class="blocklist__title">За МКАД от 5 до 20 км: <b>50 ₽/км </b> </div><!-- /.blocklist__title -->
                  <div class="blocklist__text">минимальная сумма заказа  <b>3 000 ₽</b></div><!-- /.blocklist__text -->
                </div><!-- /.blocklist__wrapper -->
              </div><!-- /.blocklist__item -->
              <div class="blocklist__item">
                <div class="blocklist__wrapper">
                  <div class="blocklist__title">За МКАД от 20 до 50 км: <b>50 ₽/км</b>  </div><!-- /.blocklist__title -->
                  <div class="blocklist__text">минимальная сумма заказа <b>6 000 ₽</b> </div><!-- /.blocklist__text -->
                </div><!-- /.blocklist__wrapper -->
              </div><!-- /.blocklist__item -->
            </div><!-- /.blocklist -->
            <div class="image">
              <img src="img/15-Vehicle-Mockup.png" alt="">
            </div><!-- /.image -->
          </div><!-- /.flex -->
        </div>
      </div>

      <div class="pageblocksl ">
        <div class="container">
          <div class="blockheader">
            <div class="blockheader__left">
              <h2>Варианты оплаты заказа:</h2>
            </div>
           
          </div>

          <div class="fitchesblock">
            <div class="fitchesblock__items">
              <div class="fitchesblock__item slide-in-bottom wow" data-wow-delay="0.1s" data-wow-offset="0" data-wow-duration="1.5s" >
                <div class="fitchesblock__wrapper">
                  <div class="fitchesblock__header">
                    <div class="fitchesblock__icon">
                      <div class="fitchesblock__img"><img src="img/fitches_del_1.svg" alt=""></div>
                      <!-- /.fitchesblock__img -->
                    </div><!-- /.fitchesblock__icon -->
                    <div class="fitchesblock__title">Картой или <br> наличными курьеру</div><!-- /.fitchesblock__title -->
                  </div><!-- /.fitchesblock__header -->
                  <div class="fitchesblock__main">
                    <div class="fitchesblock__content">У наших курьеров есть терминалы оплаты и сдача</div><!-- /.fitchesblock__content -->
                  </div><!-- /.fitchesblock__main -->
                </div><!-- /.fitchesblock__wrapper -->
              </div><!-- /.fitchesblock__item -->
              <div class="fitchesblock__item slide-in-bottom wow" data-wow-delay="0.4s" data-wow-offset="0" data-wow-duration="1.5s">
                <div class="fitchesblock__wrapper">
                  <div class="fitchesblock__header">
                    <div class="fitchesblock__icon">
                      <div class="fitchesblock__img"><img src="img/fitches_del_2.svg" alt=""></div>
                      <!-- /.fitchesblock__img -->
                    </div><!-- /.fitchesblock__icon -->
                    <div class="fitchesblock__title">По QR-коду через приложение банка</div><!-- /.fitchesblock__title -->
                  </div><!-- /.fitchesblock__header -->
                  <div class="fitchesblock__main">
                    <div class="fitchesblock__content">Мгновенная оплата в приложении вашего банка в момент получения заказа от курьера</div><!-- /.fitchesblock__content -->
                  </div><!-- /.fitchesblock__main -->
                </div><!-- /.fitchesblock__wrapper -->
              </div><!-- /.fitchesblock__item -->
              <div class="fitchesblock__item slide-in-bottom wow" data-wow-delay="0.7s" data-wow-offset="0" data-wow-duration="1.5s" >
                <div class="fitchesblock__wrapper">
                  <div class="fitchesblock__header">
                    <div class="fitchesblock__icon">
                      <div class="fitchesblock__img"><img src="img/fitches_del_3.svg" alt=""></div>
                      <!-- /.fitchesblock__img -->
                    </div><!-- /.fitchesblock__icon -->
                    <div class="fitchesblock__title">Картой при покупке онлайн на сайте</div><!-- /.fitchesblock__title -->
                  </div><!-- /.fitchesblock__header -->
                  <div class="fitchesblock__main">
                    <div class="fitchesblock__content">Заморозим 1 рубль на карте,
                      а итоговую сумму заказа спишем после завершения сборки</div><!-- /.fitchesblock__content -->
                  </div><!-- /.fitchesblock__main -->
                </div><!-- /.fitchesblock__wrapper -->
              </div><!-- /.fitchesblock__item -->
            </div><!-- /.fitchesblock__items -->
          </div><!-- /.fitchesblock -->
        </div>
      </div>
    
     
      <div class="pageblocksl">
        <div class="container">
          <div class="colsblock">
          <div class="flex cols">
            <div class="cols__col">
              <div class="textinfo">
                <h2>Условия возврата <br> денежных средств:</h2>
                <p>Для возврата денег позвоните нам по телефону <a href="tel:+7 495 445 25 55">+7 495 445 25 55</a></p>
                <p>Срок рассмотрения заявки на возврат денежных средств — 10 дней (срок устанавливается магазином). Деньги вернутся в течение 5-30 дней на ту карту, с которой была оплачена покупка. Точный срок зависит от банка, который обслуживает карту.</p>
              </div>
          
            </div><!-- /.cols_col -->
            <div class="cols__col">
              <div class="grayblock textinfo">
                <h3>Если вы обнаружили признаки некачественной продукции:</h3>
                <ol class='listnumber'>
                  <li>Сообщите нам об этом по номеру телефона: <a href="tel:+7 495 445 25 55">+7 495 445 25 55</a> </li>
                  <li>Мы отправим к вам курьера для обмена продукции или возврата средств.</li>
                
                </ol>
              </div><!-- /.grayblock -->
            </div><!-- /.cols__col -->
          </div><!-- /.flex cols -->
        </div><!-- /.colsblock -->
        </div><!-- /.container -->
      </div><!-- /.pageblocksl -->


      <div class="pageblocksl subscribeblock">
        <div class="container">
          <div class="subscribeblock__wrapper">
            <div class="subscribeblock__container">
              <div class="subscribeblock__items">
                <div class="subscribeblock__content">
                  <div class="subscribeblock__title">
                    <span class="mark">Подпишитесь</span> на нашу рассылку <br> и узнавайте о новинках, акциях <br> и
                    скидках
                    первыми
                  </div><!-- /.subscribeblock__title -->
                  <div class="subscribeblock__form">
                    <form action="">
                      <div class="subscribeblock__row">
                        <div class="subscribeblock__input">
                          <input type="email" placeholder="Ваш e-mail">
                        </div><!-- /.subscribeblock__input -->
                        <div class="subscribeblock__button">
                          <button type="submit" class="btn_main">Подписаться</button>
                        </div><!-- /.subscribeblock__button -->
                      </div><!-- /.subscribeblock__row -->
                      <div class="subscribeblock__confirm">
                        Нажимая на кнопку, вы соглашаетесь с условиями <a href="#">Политики конфиденциальности</a>
                      </div><!-- /.subscribeblock__confirm -->
                    </form>
                  </div><!-- /.subscribeblock__form -->
                </div><!-- /.subscribe__content -->
                <div class="subscribeblock__image">
                  <div class="subscribeblock__img">
                    <img src="img/telefon.png" alt="">
                  </div><!-- /.subscribeblock__img -->
                </div><!-- /.subscribe__image -->
              </div><!-- /.subscribe__items -->
            </div><!-- /.subscribe__container -->
          </div><!-- /.subscribe__wrapper -->
        </div>
      </div>
    
      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>