<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
  <%= _.template(require('../includes/header.html').default)(data) %>


        <div class="indexheader">
          <div class="indexmask">  </div><!-- /.indexmask -->
            <div div id="video-bg">
            <video class="video-bg_desktop" width="100%" height="auto" preload="auto" autoplay="autoplay" muted="muted" loop="loop" playsinline="playsinline" id="home_video">
                    <source src="img/v.webm" type="video/mp4">
                </video>
               
            </div>
        
          <div class="mainblock">
            <div class="container">

            <div class="mainblock__wrapper">
                <div class="mainblock__content">
                  <div class="mainblock__title">
                   Комплексные  <br>
                      решения  <br>
                      It-инфраструктуры
                  </div><!-- /.mainblock__title -->
                  <div class="mainblock__subtitle">Мы готовы предоставить комплексные решения по созданию IT-инфраструктуры. </div><!-- /.mainblock__subtitle -->
                  <div class="mainblock__button">
                    <a href="#modal_callback" data-toggle="modal" class=" btn_texticon">
                      <span class="btn__text">Перейти в каталог</span>
                      <span class="btn__icon"><img src="img/btn.svg" alt=""></span>

                    </a>
                  </div><!-- /.mainblock__button -->
                </div><!-- /.mainblock__content -->
            </div><!-- /.mainblock__wrapper -->
          </div><!-- /.container -->

          </div><!-- /.mainblock -->
        </div><!-- /.indexblock -->

        <main>

        <div class="fitcheblock">
          <div class="figure figure2">
            <img src="img/figure2.png" alt="">
          </div>
          <div class="figure figure3">
            <img src="img/figure3.png" alt="">
          </div>
          <div class="container">
            <div class="fitchesblock__items">
              <div class="fitchesblock__row">
              <div class="fitchesblock__item">
                <div class="fitchesblock__wrapper">
                  <div class="fitchesblock__header">
                    <div class="fitchesblock__icon">
                      <div class="fitchesblock__img"><img src="img/fitches_check.svg" alt=""></div>
                      <!-- /.fitchesblock__img -->
                    </div><!-- /.fitchesblock__icon -->
                    <div class="fitchesblock__title">Сделано в России <br>
                      о морепродуктах все</div><!-- /.fitchesblock__title -->
                  </div><!-- /.fitchesblock__header -->
                  <div class="fitchesblock__main">
                    <div class="fitchesblock__content">Типовые и специализированные комплексные решения
                      От пользовательских систем для выполнения офисных задач До автоматизированных комплексов управления предприятиями и систем «умный город»</div><!-- /.fitchesblock__content -->
                  </div><!-- /.fitchesblock__main -->
                </div><!-- /.fitchesblock__wrapper -->
              </div><!-- /.fitchesblock__item -->
              <div class="fitchesblock__item">
                <div class="fitchesblock__wrapper">
                  <div class="fitchesblock__header">
                    <div class="fitchesblock__icon">
                      <div class="fitchesblock__img"><img src="img/fitches_check.svg" alt=""></div>
                      <!-- /.fitchesblock__img -->
                    </div><!-- /.fitchesblock__icon -->
                    <div class="fitchesblock__title">50+ уникальных разработок</div><!-- /.fitchesblock__title -->
                  </div><!-- /.fitchesblock__header -->
                  <div class="fitchesblock__main">
                    <div class="fitchesblock__content">Анализ задач и разработка концепта <br>
                      Разработка схемотехнического решения <br>
                      Производство и авторский надзор</div><!-- /.fitchesblock__content -->
                  </div><!-- /.fitchesblock__main -->
                </div><!-- /.fitchesblock__wrapper -->
              </div><!-- /.fitchesblock__item -->
              </div>
              <div class="fitchesblock__row">
              <div class="fitchesblock__item">
                <div class="fitchesblock__wrapper">
                  <div class="fitchesblock__header">
                    <div class="fitchesblock__icon">
                      <div class="fitchesblock__img"><img src="img/fitches_check.svg" alt=""></div>
                      <!-- /.fitchesblock__img -->
                    </div><!-- /.fitchesblock__icon -->
                    <div class="fitchesblock__title">Более 13 лет на рынке</div><!-- /.fitchesblock__title -->
                  </div><!-- /.fitchesblock__header -->
                  <div class="fitchesblock__main">
                    <div class="fitchesblock__content">Разработчик и производитель отечественной вычислительной техники. Один из лидеров в области импортозамещения. Клиентские и корпоративные решения на базе различных архитектур</div><!-- /.fitchesblock__content -->
                  </div><!-- /.fitchesblock__main -->
                </div><!-- /.fitchesblock__wrapper -->
              </div><!-- /.fitchesblock__item -->
              <div class="fitchesblock__item">
                <div class="fitchesblock__wrapper">
                  <div class="fitchesblock__header">
                    <div class="fitchesblock__icon">
                      <div class="fitchesblock__img"><img src="img/fitches_check.svg" alt=""></div>
                      <!-- /.fitchesblock__img -->
                    </div><!-- /.fitchesblock__icon -->
                    <div class="fitchesblock__title">Применение инноваций</div><!-- /.fitchesblock__title -->
                  </div><!-- /.fitchesblock__header -->
                  <div class="fitchesblock__main">
                    <div class="fitchesblock__content">Типовые и специализированные комплексные решения
                      От пользовательских систем для выполнения офисных задач До автоматизированных комплексов управления предприятиями и систем «умный город»</div><!-- /.fitchesblock__content -->
                  </div><!-- /.fitchesblock__main -->
                </div><!-- /.fitchesblock__wrapper -->
              </div><!-- /.fitchesblock__item -->
            </div>
            </div><!-- /.fitchesblock__items -->
          </div><!-- /.container -->
          </div><!-- /.fitcheblock -->

          <div class="pageblocksl productsblock">
            <div class="figure figure1">
              <img src="img/bg1.png" alt="">
            </div><!-- /.figure1 -->
            <div class="container">
              <div class="blockheader">
                <h2>Продукция</h2>
              </div><!-- /.blockheader -->
              <div class="productsblock__wrapper">
                <div class="productsblock__items">
                  <div class="productsblock__item">
                    <div class="productcard">
                      <a href='#' class="productcard__wrapper">
                        <div class="productcard__content">
                          <div class="productcard__main">
                            <div class="productcard__title">
                              Серверы
                            </div><!-- /.productcard__title -->
                            <div class="productcard__text">
                              Краткий анонс о продукте ....
                            </div><!-- /.productcard__text -->
                          </div><!-- /.productcard__main -->
                          <div class="productcard__footer">
                            <div class="productcard__link">
                              <div class="productcard__icn arrowlink">
                                <img src="img/productcard__icn.svg" alt="">
                              </div><!-- /.productcard__icn -->
                              <div class="productcard__lnk">Смотреть</div><!-- /.productcard__lnk -->
                            </div><!-- /.productcard__link -->
                          </div><!-- /.productcard__footer -->
                        </div><!-- /.productcard__content -->
                        <div class="productcard__image">
                          <div class="productcard__img">
                            <img src="img/card1.png" alt="">
                          </div><!-- /.productcard__img -->
                          
                        </div><!-- /.productcard__image -->
                      </a><!-- /.productcard__wrapper -->
                    </div><!-- /.productcard -->
                  </div><!-- /.productsblock__item -->
                  <div class="productsblock__item">
                    <div class="productcard">
                      <a href='#' class="productcard__wrapper">
                        <div class="productcard__content">
                          <div class="productcard__main">
                            <div class="productcard__title">
                              Серверы
                            </div><!-- /.productcard__title -->
                            <div class="productcard__text">
                              Краткий анонс о продукте ....
                            </div><!-- /.productcard__text -->
                          </div><!-- /.productcard__main -->
                          <div class="productcard__footer">
                            <div class="productcard__link">
                              <div class="productcard__icn arrowlink">
                                <img src="img/productcard__icn.svg" alt="">
                              </div><!-- /.productcard__icn -->
                              <div class="productcard__lnk">Смотреть</div><!-- /.productcard__lnk -->
                            </div><!-- /.productcard__link -->
                          </div><!-- /.productcard__footer -->
                        </div><!-- /.productcard__content -->
                        <div class="productcard__image">
                          <div class="productcard__img">
                            <img src="img/card1.png" alt="">
                          </div><!-- /.productcard__img -->
                          
                        </div><!-- /.productcard__image -->
                      </a><!-- /.productcard__wrapper -->
                    </div><!-- /.productcard -->
                  </div><!-- /.productsblock__item -->
                  <div class="productsblock__item">
                    <div class="productcard">
                      <a href='#' class="productcard__wrapper">
                        <div class="productcard__content">
                          <div class="productcard__main">
                            <div class="productcard__title">
                              Графические станции
                            </div><!-- /.productcard__title -->
                            <div class="productcard__text">
                              Краткий анонс о продукте ....
                            </div><!-- /.productcard__text -->
                          </div><!-- /.productcard__main -->
                          <div class="productcard__footer">
                            <div class="productcard__link">
                              <div class="productcard__icn arrowlink">
                                <img src="img/productcard__icn.svg" alt="">
                              </div><!-- /.productcard__icn -->
                              <div class="productcard__lnk">Смотреть</div><!-- /.productcard__lnk -->
                            </div><!-- /.productcard__link -->
                          </div><!-- /.productcard__footer -->
                        </div><!-- /.productcard__content -->
                        <div class="productcard__image">
                          <div class="productcard__img">
                            <img src="img/card1.png" alt="">
                          </div><!-- /.productcard__img -->
                          
                        </div><!-- /.productcard__image -->
                      </a><!-- /.productcard__wrapper -->
                    </div><!-- /.productcard -->
                  </div><!-- /.productsblock__item -->
                  <div class="productsblock__item">
                    <div class="productcard">
                      <a href='#' class="productcard__wrapper">
                        <div class="productcard__content">
                          <div class="productcard__main">
                            <div class="productcard__title">
                              Серверы
                            </div><!-- /.productcard__title -->
                            <div class="productcard__text">
                              Краткий анонс о продукте ....
                            </div><!-- /.productcard__text -->
                          </div><!-- /.productcard__main -->
                          <div class="productcard__footer">
                            <div class="productcard__link">
                              <div class="productcard__icn arrowlink">
                                <img src="img/productcard__icn.svg" alt="">
                              </div><!-- /.productcard__icn -->
                              <div class="productcard__lnk">Смотреть</div><!-- /.productcard__lnk -->
                            </div><!-- /.productcard__link -->
                          </div><!-- /.productcard__footer -->
                        </div><!-- /.productcard__content -->
                        <div class="productcard__image">
                          <div class="productcard__img">
                            <img src="img/card1.png" alt="">
                          </div><!-- /.productcard__img -->
                          
                        </div><!-- /.productcard__image -->
                      </a><!-- /.productcard__wrapper -->
                    </div><!-- /.productcard -->
                  </div><!-- /.productsblock__item -->
                </div><!-- /.productsblock__items -->
              </div><!-- /.productsblock__wrapper -->
            </div>
          </div>


          
          <div class="pageblocksl logoblock">
         
            <div class="container">
              <div class="figure figure2">
                <img src="img/figure2.png" alt="">
              </div>
              <div class="figure figure5">
                <img src="img/figure5.png" alt="">
              </div>
              <div class="blockheader">
                <h2>Нам доверяют</h2>
              </div><!-- /.blockheader -->
              <div class="logoblock__items">
                <div class="logoblock__item logoblock__item_large">
                  <div class="logoblock__wrapper">
                    <div class="logoblock__content">
                      <div class="logoblock__img">
                        <img src="img/partner1.png" alt="">
                      </div><!-- /.logoblock__img -->
                    </div><!-- /.logoblock__content -->
                  </div><!-- /.logoblock__wrapper -->
                </div><!-- /.logoblock__item -->
                <div class="logoblock__item">
                  <div class="logoblock__wrapper">
                    <div class="logoblock__content">
                      <div class="logoblock__img">
                        <img src="img/partner2.png" alt="">
                      </div><!-- /.logoblock__img -->
                    </div><!-- /.logoblock__content -->
                  </div><!-- /.logoblock__wrapper -->
                </div><!-- /.logoblock__item -->
                <div class="logoblock__item">
                  <div class="logoblock__wrapper">
                    <div class="logoblock__content">
                      <div class="logoblock__img">
                        <img src="img/partner19.png" alt="">
                      </div><!-- /.logoblock__img -->
                    </div><!-- /.logoblock__content -->
                  </div><!-- /.logoblock__wrapper -->
                </div><!-- /.logoblock__item -->
                <div class="logoblock__item">
                  <div class="logoblock__wrapper">
                    <div class="logoblock__content">
                      <div class="logoblock__img">
                        <img src="img/partner5.png" alt="">
                      </div><!-- /.logoblock__img -->
                    </div><!-- /.logoblock__content -->
                  </div><!-- /.logoblock__wrapper -->
                </div><!-- /.logoblock__item -->
                <div class="logoblock__item logoblock__item_large">
                  <div class="logoblock__wrapper">
                    <div class="logoblock__content">
                      <div class="logoblock__img">
                        <img src="img/partner7.png" alt="">
                      </div><!-- /.logoblock__img -->
                    </div><!-- /.logoblock__content -->
                  </div><!-- /.logoblock__wrapper -->
                </div><!-- /.logoblock__item -->
                <div class="logoblock__item ">
                  <div class="logoblock__wrapper">
                    <div class="logoblock__content">
                      <div class="logoblock__img">
                        <img src="img/partner8.png" alt="">
                      </div><!-- /.logoblock__img -->
                    </div><!-- /.logoblock__content -->
                  </div><!-- /.logoblock__wrapper -->
                </div><!-- /.logoblock__item -->
                <div class="logoblock__item ">
                  <div class="logoblock__wrapper">
                    <div class="logoblock__content">
                      <div class="logoblock__img">
                        <img src="img/partner3.png" alt="">
                      </div><!-- /.logoblock__img -->
                    </div><!-- /.logoblock__content -->
                  </div><!-- /.logoblock__wrapper -->
                </div><!-- /.logoblock__item -->
               
                <div class="logoblock__item logoblock__item_large">
                  <div class="logoblock__wrapper">
                    <div class="logoblock__content">
                      <div class="logoblock__img">
                        <img src="img/partner12.png" alt="">
                      </div><!-- /.logoblock__img -->
                    </div><!-- /.logoblock__content -->
                  </div><!-- /.logoblock__wrapper -->
                </div><!-- /.logoblock__item -->
                <div class="logoblock__item ">
                  <div class="logoblock__wrapper">
                    <div class="logoblock__content">
                      <div class="logoblock__img">
                        <img src="img/partner13.png" alt="">
                      </div><!-- /.logoblock__img -->
                    </div><!-- /.logoblock__content -->
                  </div><!-- /.logoblock__wrapper -->
                </div><!-- /.logoblock__item -->
                <div class="logoblock__item ">
                  <div class="logoblock__wrapper">
                    <div class="logoblock__content">
                      <div class="logoblock__img">
                        <img src="img/partner9.png" alt="">
                      </div><!-- /.logoblock__img -->
                    </div><!-- /.logoblock__content -->
                  </div><!-- /.logoblock__wrapper -->
                </div><!-- /.logoblock__item -->
                <div class="logoblock__item ">
                  <div class="logoblock__wrapper">
                    <div class="logoblock__content">
                      <div class="logoblock__img">
                        <img src="img/partner10.png" alt="">
                      </div><!-- /.logoblock__img -->
                    </div><!-- /.logoblock__content -->
                  </div><!-- /.logoblock__wrapper -->
                </div><!-- /.logoblock__item -->
                <div class="logoblock__item ">
                  <div class="logoblock__wrapper">
                    <div class="logoblock__content">
                      <div class="logoblock__img">
                        <img src="img/partner11.png" alt="">
                      </div><!-- /.logoblock__img -->
                    </div><!-- /.logoblock__content -->
                  </div><!-- /.logoblock__wrapper -->
                </div><!-- /.logoblock__item -->
          
                <div class="logoblock__item ">
                  <div class="logoblock__wrapper">
                    <div class="logoblock__content">
                      <div class="logoblock__img">
                        <img src="img/partner15.png" alt="">
                      </div><!-- /.logoblock__img -->
                    </div><!-- /.logoblock__content -->
                  </div><!-- /.logoblock__wrapper -->
                </div><!-- /.logoblock__item -->
                <div class="logoblock__item ">
                  <div class="logoblock__wrapper">
                    <div class="logoblock__content">
                      <div class="logoblock__img">
                        <img src="img/partner17.png" alt="">
                      </div><!-- /.logoblock__img -->
                    </div><!-- /.logoblock__content -->
                  </div><!-- /.logoblock__wrapper -->
                </div><!-- /.logoblock__item -->
                <div class="logoblock__item ">
                  <div class="logoblock__wrapper">
                    <div class="logoblock__content">
                      <div class="logoblock__img">
                        <img src="img/partner18.png" alt="">
                      </div><!-- /.logoblock__img -->
                    </div><!-- /.logoblock__content -->
                  </div><!-- /.logoblock__wrapper -->
                </div><!-- /.logoblock__item -->
              </div><!-- /.logoblock__items -->
            </div>
          </div>

          
        <div class="pageblocksl seoblock">
          <div class="container">
            <div class="seoblock__cols">
              <div class="seoblock__col seoblock_image">
                <div class="seoblock__image">
                  <div class="seoblock__img onlyDesktop"><img src="img/image3.png" alt=""></div><!-- /.seoblock__img -->
                  <div class="seoblock__img onlyMobile"><img src="img/image4.png" alt=""></div><!-- /.seoblock__img -->
                </div><!-- /.seoblock__image -->
              </div><!-- /.seoblock__col -->
              <div class="seoblock__col seoblock__col_content">
                <div class="seoblock__content">
                  <div class="seoblock__title">
                    <h1>Компания <span class="gray"> SK Server Technologies</span><!-- /.gray --> – производитель и поставщик серверного оборудования</h1>
                  </div><!-- /.seoblock__title -->
                  <div class="seoblock__text text">
                    <p>готовая предоставить комплексные решения по созданию IT-инфраструктуры. Компания основана в 2009 году и на сегодняшний день занимает устойчивые позиции на российском IT-рынке.</p>
                    <ul>
                      <li>Миссия компании - максимальное использование всех преимуществ современных информационных технологий для стабильного роста и финансовой независимости бизнеса.</li>
                      <li>Мы стремимся к повышению производительности и снижению времени простоя всей IT-инфраструктуры предприятия наших заказчиков, для чего предлагаем самые современные решения.</li>
                      <li>География использования оборудования под нашей торговой маркой SK Gelios охватывает большую часть территории России.</li>
                      <li>Комплексный подход к проектированию и созданию IT-инфраструктуры, предлагаемый нашей компанией, позволяет удовлетворить потребности организации любого размера и выводит её на качественно новый уровень.</li>
                    </ul>
                  </div><!-- /.seoblock__text text -->
                </div><!-- /.seoblock__content -->
              </div><!-- /.seoblock__col -->
            </div><!-- /.seoblock__cols -->
          </div>
        </div>
          
        <div class="figure figure6">
          <img src="img/bg2.png" alt="">
        </div><!-- /.figure6 -->


      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>