<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>

        <div class="breadcrumbs">
          <div class="container">
            <div class="breadcrumbs__items">
              <ul>
                <li><a href="/"><span>Главная страница</span></a></li>
                <li><span>Персональный раздел</span></li>
              </ul>
            </div>
            <!-- /.breadcrumbs__items -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.breadcrumbs -->
        

        <div class="personalpage">
          <div class="container">
            <div class="personalpage__wrapper flex asidewrapper">
              <div class="personalpage__aside  asidewrapper__aside">
                <aside>
                  <div class="asidewrapper_asideblock">
                    <div class="asideblock personalblock">
                      <div class="grayblock">
                        <div class="grayblock__title personalblock__title">Добро пожаловать
                          Сергей!</div>
                        <div class="grayblock__text personalblock__text1">Уровень: карта 3%</div>
                        <div class="grayblock__text personalblock__text2">На балансе вашей карты:</div>
                        <div class="grablock__bigtext personalblock__price">500 ₽</div><!-- /.grablock__bigtext -->
                      </div><!-- /.grayblock -->
                    </div><!-- /.asideblock -->
                    <div class="asidemenu asidewrapper__menu">
                      <div class="asidemenu__wrapper">
                        <div class="asidemenu__items">
                          <div class="asidemenu__level_1">
                            <ul class="asidemenuLevelOne">
                              <li class='asidemenuLevelOne__item '>
                                <a href="" class='asidemenuLevelOne__link'>
                                  <span class='asidemenu__name'>Профиль</span>
                                </a>

                              </li>
                              <li class='asidemenuLevelOne__item active'>
                                <a href="" class='asidemenuLevelOne__link'>
                                  <span class='asidemenu__name'>Заказы</span>
                                </a>

                              </li>
                              <li class='asidemenuLevelOne__item '>
                                <a href="" class='asidemenuLevelOne__link'>
                                  <span class='asidemenu__name'>Подписка</span>
                                </a>

                              </li>
                              <li class='asidemenuLevelOne__item '>
                                <a href="" class='asidemenuLevelOne__link'>
                                  <span class='asidemenu__name'>Корзина</span>
                                </a>

                              </li>
                              <li class='asidemenuLevelOne__item '>
                                <a href="" class='asidemenuLevelOne__link'>
                                  <span class='asidemenu__name'>Выход</span>
                                </a>

                              </li>
                             
                            </ul>
                          </div>
                          <!-- /.asidemenu__level_1 -->
                        </div>
                        <!-- /.asidemenu__items -->
                      </div>
                      <!-- /.asidemenu__wrapper -->
                    </div>
                    <!-- /.asidemenu -->
                  </div><!-- /.cols_asideblock -->
                </aside>
              </div>
              <!-- /.catalogpage__aside -->
              <div class=" asidewrapper__main">
                <div class="personalcontent">
                  <div class="personalcontent__title">Ваши заказы</div><!-- /.personalcontent__title -->
                  <div class="personalcontent__orderlist">
                    <div class="orderlist">
                      <div class="orderlist__table">
                        <table>
                          <thead>
                            <tr>
                              <th><span>№ заказа</span></th>
                              <th><span>Дата</span></th>
                              <th><span>Состав заказа</span></th>
                              <th><span>Сумма</span></th>
                              <th><span>Статус</span></th>
                              <th><span>Доставка</span></th>
                              <th><span>Оплата</span></th>
                              <th><span>Начислено баллов</span></th>
                              <th><span>Списано баллов</span></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td><span>11420</span></td>
                              <td><span>01.01.2023</span></td>
                              <td class='orderlist__product'>
                                <div class='cartproductlist'>
                                  <div class='cartproductlist__item'>
                                    <div class="cartproduct">
                                      <div class="cartproduct__image">
                                        
                                        <div class="cartproduct__img">
                                          <img src="img/card2.png" alt="" width='40' height='40'>
                                        </div><!-- /.cartproduct__img -->
                                      </div><!-- /.cartproduct__image -->
                                      <div class="cartproduct__info">
                                        <div class="cartproduct__title"><a href="">Стейки трески</a></div>
                                        <!-- /.cartproduct__title -->
                                        <div class="cartproduct__params">
                                          <div class="cartproduct__param">299 ₽ / уп </div>
                                        </div><!-- /.cartproduct__params -->
                                      </div><!-- /.cartproduct__info -->
                                    </div><!-- /.cartproduct -->
                                  </div>
                                  <div class='cartproductlist__item'>
                                    <div class="cartproduct">
                                      <div class="cartproduct__image">
                                        
                                        <div class="cartproduct__img">
                                          <img src="img/card2.png" alt="" width='40' height='40'>
                                        </div><!-- /.cartproduct__img -->
                                      </div><!-- /.cartproduct__image -->
                                      <div class="cartproduct__info">
                                        <div class="cartproduct__title"><a href="">Стейки трески</a></div>
                                        <!-- /.cartproduct__title -->
                                        <div class="cartproduct__params">
                                          <div class="cartproduct__param">299 ₽ / уп </div>
                                        </div><!-- /.cartproduct__params -->
                                      </div><!-- /.cartproduct__info -->
                                    </div><!-- /.cartproduct -->
                                  </div>
                                  <div class='cartproductlist__item'>
                                    <div class="cartproduct">
                                      <div class="cartproduct__image">
                                        
                                        <div class="cartproduct__img">
                                          <img src="img/card2.png" alt="" width='40' height='40'>
                                        </div><!-- /.cartproduct__img -->
                                      </div><!-- /.cartproduct__image -->
                                      <div class="cartproduct__info">
                                        <div class="cartproduct__title"><a href="">Стейки трески</a></div>
                                        <!-- /.cartproduct__title -->
                                        <div class="cartproduct__params">
                                          <div class="cartproduct__param">299 ₽ / уп </div>
                                        </div><!-- /.cartproduct__params -->
                                      </div><!-- /.cartproduct__info -->
                                    </div><!-- /.cartproduct -->
                                  </div>
                                </div>
                              </td>
                              <td class='orderlist__price'><span>2 746 ₽</span></td>
                              <td><span>Принят</span></td>
                              <td><span>Курьером по Московской области
                                (от 5 до 20 км)</span></td>
                              <td><span>Наличные курьеру</span></td>
                              <td class='orderlist__price'><span>0 ₽</span></td>
                              <td class='orderlist__price'><span>0 ₽</span></td>
                            </tr>
                            <tr>
                              <td><span>11420</span></td>
                              <td><span>01.01.2023</span></td>
                              <td class='orderlist__product'>
                                <div class='cartproductlist'>
                                  <div class='cartproductlist__item'>
                                    <div class="cartproduct">
                                      <div class="cartproduct__image">
                                        
                                        <div class="cartproduct__img">
                                          <img src="img/card2.png" alt="" width='40' height='40'>
                                        </div><!-- /.cartproduct__img -->
                                      </div><!-- /.cartproduct__image -->
                                      <div class="cartproduct__info">
                                        <div class="cartproduct__title"><a href="">Стейки трески</a></div>
                                        <!-- /.cartproduct__title -->
                                        <div class="cartproduct__params">
                                          <div class="cartproduct__param">299 ₽ / уп </div>
                                        </div><!-- /.cartproduct__params -->
                                      </div><!-- /.cartproduct__info -->
                                    </div><!-- /.cartproduct -->
                                  </div>
                                
                                </div>
                              </td>
                              <td class='orderlist__price'><span>2 746 ₽</span></td>
                              <td><span>Принят</span></td>
                              <td><span>Курьером по Московской области
                                (от 5 до 20 км)</span></td>
                              <td><span>Наличные курьеру</span></td>
                              <td class='orderlist__price'><span>0 ₽</span></td>
                              <td class='orderlist__price'><span>0 ₽</span></td>
                            </tr>
                          </tbody>
                        </table>
                      </div><!-- /.orderlist__table -->
                    </div><!-- /.orderlist -->
                  </div><!-- /.personalcontent__orderlist -->
                </div><!-- /.personalcontent -->
              </div>
              <!-- /.catalogpage__main -->
            </div>
            <!-- /.catalogpage__wrapper -->
          </div>
          <!-- /.container -->

        </div>
        <!-- /.catalogpage -->


     

      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>