@import "./style.scss";



@media (max-width: 1440px) {
  .headermain__contacts {
    margin-right: 15px;
  }
  .headermain__search {
    margin-right: 15px;
  }
  .productcard__content {
    min-width: 220px;
    max-width: 220px;
    padding-right: 20px;
  }
  .productcard__wrapper {
    padding: 18px;
  }
  .logoblock__wrapper {
    padding: 15px;
  }
  .seoblock__col_content {
    margin-left: 30px;
  }
  .productcard_type2 {
    .productcard__title {
      font-weight: 900;
      font-size: 22px;
      line-height: 100%;
    } 
  }
  .productcard_type2 .productcard__wrapper {
    padding: 18px;
  }
  .productcard_type2 .productcard__wrapper {
    .productcard__footer {
      left: 18px;
      bottom: 18px;
    }
  }
  .productcard_type3 {
    .productcard__image {
      img {
        max-width: 220px;
      }
    }
  }
  .productcard__content .productcard__footer {
    bottom: 18px;
    left: 18px;
  }
  .formblock__aside {
    max-width: 380px;
  }
  .footerform__title {
    font-size: 20px;
    margin-left: 15px;
  }
  .pageheaderblock_catalog .pageheaderblock__img img {
    max-width: 100%;
  }
  .pageheaderblock__image {
    min-width: unset;
  }
  .fitcheblock_type2 .fitchesblock__item {
    width: 33.333%;
    min-width: unset;
  }
  .fitcheblock_type2 {
    background-size: contain;
  }
  .pageheaderblock_detail .pageheaderblock__image {
    min-width: unset;
    max-width: 400px;
  }
  .pageheaderblock__content {
    padding-right: 100px;
  }
  .pageheaderblock_detail .pageheaderblock__img img {
    max-width: 100%;
  }
}

@media (max-width: 1023px) {
  .pageheaderblock__content {
    min-height: unset;
  }
 
  .flex {
    flex-wrap: wrap;
    > * {
      width: 100%;

    }
  }
  .fitchesblock__items {
    flex-wrap: wrap;
  }
  .fitchesblock__row {
    flex-wrap: wrap;
  }
  .productsblock__item {
    width: 50%;
  }
  .footer__catalog {
    flex-wrap: wrap;
    margin-left: 0;
  }
  .footerform__cols {
    flex-wrap: wrap;
  }
 
  .footer__items {
    flex-wrap: wrap;
  }
  .footerform__title {
    font-weight: 900;
font-size: 16px;
line-height: 100%;
margin-left: 7px;
  }
  .mainblock .mainblock__title {
    font-size: 22px;
line-height: 100%;
  }
  .headerbottom {
    display: none;
  }
  .fitchesblock__item {
    min-width: 50%;
    max-width: 50%;
  }
  h2 {
    font-size: 22px;
line-height: 100%;
  }
  .seoblock__col_content {
    margin-left: 0;
  }
  .footerform__col_form {
    margin-left: 0;
  }
  .productcard__title {
    font-size: 22px;
line-height: 100%;
  }
  .footer__menu a {
    font-size: 14px;
line-height: 100%;
  }
  .seoblock__title h1 {
    font-size: 18px;
line-height: 100%;
  }
  .seoblock__content {
    margin-top: 0;
  }
  .seoblock__cols {
    flex-wrap: wrap;

    >* {
      width: 100%;
    }
  }
  .seoblock__image {
    margin-left: 0;
  }
  .container {
    padding: 0 15px;
  }
  .menubutton span {
    display: block;
  width: 32px;
  height: 3px;
  margin-bottom: 7px;
  position: relative;
  
  background: #D9D9D9;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
  }
  #menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
.headermain__left {
  display: flex;
  padding-right: 0;
  justify-content: space-between;
}
.headermain__logo {
  max-width: 194px;
  min-width: 194px;

}
.headermain {
  padding: 17px 0;
}
.searchinput button, .searchinput input, .searchinput {
  height: 36px;
}
.searchinput button {
  font-weight: 700;
font-size: 12px;
padding: 0 17px;
min-width: 70px;
}
.headermain__search {
  margin-top: 30px;
 /*  margin-top: 12px; */
  margin-right: 0;
}

.mobilemenu  {
  position: absolute;
  top: 116px;
  background: #10131B;
  z-index: 9999;
  width: 100%;
  min-height: 100vh;
 /*  height: 100vh; */
  left: -100%;
  min-width: 320px;
  overflow-y: auto;
 padding-left: 20px;
 padding-right: 20px;
  position: absolute;
  top: 0;
  transition: all .3s ease;
  width: 100%;
  z-index: 99999;
  padding-top: 160px;
  padding-bottom: 70px;

}
.mobilemenu.active {
  left: 0;
}
.indexheader {
  padding-top: 116px;
  min-height: 483px;
  display: flex;
  align-items: flex-end;
  height: 100vh;
}
.mainblock__subtitle {
  margin-bottom: 27px;
  font-weight: 400;
font-size: 14px;
line-height: 120%;
}
.mainblock .mainblock__title {
  margin-bottom: 15px;
  font-size: 22px;
line-height: 100%;
}
.headermain__wrapper {
  background: none;
}
.mobilemenu__links {
  ul {
    @include clear;
  }
  li {
    margin-bottom: 32px;
    a {
      font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */

text-transform: uppercase;

color: #FFFFFF;
    }
  }
}
.mobilemenu__contancts {
  margin-top: 70px;
}
.mobilecontacts__callback {
  margin-top: 30px;

}
.fitchesblock__img {
  width: 36px;
  height: 36px;
  margin-bottom: 19px;
margin-left: auto;margin-right: auto;

}
.fitchesblock__title {
  font-size: 14px;
line-height: 100%;
margin-bottom: 10px;
}
.fitchesblock__content {
  font-weight: 400;
font-size: 12px;
line-height: 160%;
}
.fitchesblock__item {
  padding: 0 4px;
}
.fitcheblock {
  background-image: url(../img/fitches2.png);
  background-position: center;
  background-repeat: no-repeat;

  .figure2, .figure3 {
    display: none;
  }
}
.fitchesblock__row {
  margin-bottom: 250px;
}
.fitchesblock__row:last-child {
  margin-bottom: 0;
}
.fitcheblock {
  padding-bottom: 30px;
  padding-top: 0;
}
.pageblocksl {
  margin: 30px 0;
}
.blockheader {
  margin-bottom: 24px;
}
.productcard__wrapper {
  flex-wrap: wrap;
}
.productcard__content {
  flex-wrap: wrap;
  padding-right: 0;
 /*  padding: 0; */
/*  min-width: 100%; */

}
.productcard__content .productcard__footer {
  left: 18px;
  bottom: 18px;
}

.productcard__image {
  order: -1;
}
.productcard__image {
  height: 177px;
  max-width: 177px;
}
.productcard__title {
  margin-bottom: 9px;
}
.productcard__text {
  font-weight: 400;
font-size: 12px;
line-height: 180%;
margin-bottom: 9px;
}
.arrowlink {
  width: 36px;
  height: 36px;
  img {
    width: 12px;
  }
}
.productsblock__items {
  margin: 0;
}
.productcard__icn {
  margin-right: 12px;
}
.productcard__lnk {
  font-size: 14px;
line-height: 18px;
}

.logoblock {
  .figure2 {
    display: none;
  }
  .figure5 {
    display: none;
  }
}
.logoblock__items .logoblock__item .logoblock__wrapper {
  min-width: 92px;
  width: 100%;


  min-height: 52px;
}
.logoblock__items .logoblock__item {
  padding: 0 2px;
  margin-bottom: 4px;
}
.logoblock__items {
  width: 100%;
  overflow-x: auto;
}
.text p {
  font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 130%;
}
.seoblock__text ul {
  margin-top: 16px;
}
.text li {
  background-size: 32px;
  padding-left: 44px;
  background-position: top 10px left;
  font-weight: 400;
font-size: 12px;
line-height: 130%;
margin-bottom: 16px;
}
.figure6 img {
  bottom: 0;
/*   left: -351px; */
  max-height: none;
  position: absolute;
/*   max-width: 700px;
 */}
.figure6 {
  height: 30px;

}
.footerform__image {
  max-width: 53px;
  min-width: 53px;
}
.footerform__title {
  margin-left: 7px;
  font-size: 16px;
line-height: 100%;
}
.footer__subcribe {
  padding: 18px 0;
}
.footerform__header {
  margin-bottom: 14px;
}
.footer {
  .searchinput, .searchinput button, .searchinput input {
    height: 36px;
  }
  .searchinput button {
    min-width: 94px;
  }
}
.footer .searchinput input {
  padding-left: 36px;
  background-size: 15px;
  background-position: left 10px center;
}
.confirm {
  margin-top: 12px; 
  font-weight: 400;
font-size: 10px;
line-height: 130%;
  a {
    font-weight: 400;
font-size: 10px;
line-height: 130%;
  }
}
.footer__main {
  padding: 25px 0;
}
.phonesk .phoneimg {
  width: 36px;
  min-width: 36px;
  height: 36px;
}
.contacts__info, .contacts__info a {
  font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 130%;


}
.contacts__info {
  margin-bottom: 13px;
}
.footer__menu {
  margin: 50px 0;
}
.footer__menu:last-child {
  margin:  0;
}
.copy {
  font-weight: 400;
font-size: 12px;
line-height: 130%;
}
.header .searchinput {
  max-width: 100%;
}
.seoblock__img.onlyMobile  {
  margin-left: auto;
  margin-right: auto;text-align: center;
  display: block;
}
.innerpage {
  padding-top: 136px;
}
.breadcrumbs {
  margin: 12px 0;
}
.breadcrumbs__items ul li {
  font-weight: 400;
font-size: 12px;
line-height: 180%;
padding-right: 6px;
margin-right: 6px;
}
.breadcrumbs__items ul li:after {
  width: 4px;
  height: 4px;
  right: -4px;
  top: 9px;
}
.breadcrumbs__items ul a span {
  font-weight: 400;
font-size: 12px;
line-height: 180%;
}
.innerpage__header h1 {
  font-style: normal;
font-weight: 900;
font-size: 26px;
line-height: 100%;
/* identical to box height, or 26px */

text-transform: uppercase;

color: #FFFFFF;
}
.innerpage__header {
  margin-bottom: 24px;
}
.productsblock__wrapper {
  margin: 24px 0;
}
/* .productcard__content .productcard__footer {
  position: initial;
} */
.productcard_type3 .productcard__wrapper {
  padding-right: unset;
}
.productcard_type2 .productcard__wrapper {
  padding: 18px;
}
.productcard_type3 .productcard__wrapper {
  padding: 18px;
}

.productcard_type3 {
 .productcard__image  {
  max-width: 235px;
  margin-bottom: 21px;
 }
}
.productcard_type3 .productcard__image img {
  position: static;
  max-width: 100%;
  max-height: 136px;
}


.pageheaderblock__title h1 {
  font-size: 26px;
line-height: 100%;
}
.pageheaderblock__title {
  margin-bottom: 18px;
}
.description p {
  font-size: 12px;
line-height: 130%;
}
.pageheaderblock__text {
  margin-bottom: 31px;
}
.wavebgblock {
  background-size: 250%;
  padding-top: 80px;
}
.pageheaderblock {
  margin: 20px 0 0 0;
}
.pageheaderblock__image {
  margin-bottom: -44px;
}
.contentblock__titletext {
  font-size: 12px;
line-height: 130%;
margin-bottom: 9px;
}
.text p {
font-size: 12px;
line-height: 130%;
}

.pageheaderblock__img  {
  max-width: 320px;
}
.stepsblock {
  margin-top: 34px;
}
.stepsblock__title {
  margin-bottom: 30px;
  font-size: 22px;
line-height: 100%;
}
.stepsblock__number {
  font-size: 58px;
line-height: 130%;
text-align: left;
}
.stepsblock__text {
  font-size: 12px;
line-height: 160%;
text-align: left;
margin-top: 0;
font-weight: 300;
}
.stepsblock__items {
  margin: 0 -4px;
}
.stepsblock__item {
  padding: 0 4px;
}
.borderblock {
  background-size: cover;
  background-position: center;
}

.contentblock__titletext_big {
  font-size: 16px;
line-height: 130%;
}
.pageheaderblock__text {

}
.wavebgblock {
  background-position: top left;
}
.pageheaderblock__image {
  margin-bottom: -20px;
}
.pageheaderblock__text{ 
  margin-bottom: 20px;
}
.formblock {
  margin-top: 30px;
}
.formblock__input {
  order: 1;
}
.formblock__input_check {
  order: 2
}
.formblock__aside {
  margin-left: 0;
  margin-top: 41px;
  min-height: 204px;
}
.forminfo__title {
  font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 130%;
/* identical to box height, or 16px */


color: #687494;margin-bottom: 18px;
}
.forminfo__tel {
  margin-bottom: 22px;
  a {
    font-size: 26px;
line-height: 100%;
  }
}
.forminfo__email {
  margin-top: 22px;
}
.forminfo__email a {
  font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 100%;
/* identical to box height, or 14px */

text-transform: uppercase;

color: #FFFFFF;
}
.formblock__input_check {
  padding-bottom: 0;
}
.wavebgblock {
  padding-bottom: 20px;
}
.formblock__form {
  flex: unset;
  width: 100%;
  max-width: 100%;
}
.formblock__aside {
  max-width: 100%;
}
.pageheaderblock__img img {
  max-width: 320px;
  bottom: 0;
}
/* .formblock__row  {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  
} */
.iconround {
  width: 60px;
  height: 60px;
  }
  span#file-chosen {
    position: absolute;
    bottom: 30px;
  }
  .detailspecs__row {
    flex-wrap: wrap;
  }
  .docsblock__item {
    max-width: 100%;
    
  }
  .detailmain__imageblock {
    width: 100%;
    height: unset;
    min-width: unset;
  }
  .innerpage .blockheader h2, .innerpage .pageheader h2, .pageheaderblock__title h2 {
    font-size: 22px;
line-height: 100%;
  }
  .logoblock_type2 .logoblock__items .logoblock__item .logoblock__wrapper {
    height: 52px;
  }
  .productparam__value {
    white-space: unset;
    line-height: 1.2;
  }
  .detailspecs__col_caption {
    min-width: unset;
    width: 100%;
    max-width: 100%;
  }
  .pageheaderblock_catalog .pageheaderblock__img img {
    top: -40px;

  }
 
  .detailpage__param {
    margin-bottom: 14px;
    width: 100%;
  }
  .detailpage__titletext {
    font-weight: 900;
font-size: 18px;
line-height: 100%;
margin-bottom: 15px;
  }
  .detailpage__params {
    margin-bottom: 12px;
  }
  .description strong {
    font-weight: 900;
font-size: 14px;
  }
  .detailpage__mainblock {
    margin-bottom: 0;
  }
  .fitcheblock_type2 .fitchesblock__item {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .fitcheblock.fitcheblock_type2 {
    background-image: url(../img/fitches_title.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 40px;
  }
  .fitchesblock__wrapper {
    display: flex;
  }
  .fitchesblock__main {
    margin-left: 12px;
     * {
      text-align: left;
    }
  }
 
  .pageheaderblock__button {
    .btn_texticon {
      width: 100%;
      display: flex;
      justify-content: space-between;
      max-width: 320px;

    }
    .btn_texticon .btn__text {
      width: calc(100% - 52px);
    }
  }
  .detailpage__specs {
    margin-top: 20px;
    background-size: contain;
  }
  .detailspecs__items {
    margin: 14px 0;
  }
  .detailspecs__col_caption {
    margin-bottom: 7px;
    padding-right: 0;
    width: 100%;
    font-size: 12px;
line-height: 130%;
  }
  .detailspecs__col_value {
    font-weight: 800;
font-size: 14px;
line-height: 130%;
ul {
  li {
  font-size: 14px;
  line-height: 130%;
  margin-bottom: 15px;
  }
}

  }
  .btn_arrow {
    font-size: 14px;
line-height: 18px;
  }
  .innerpage .blockheader h2, .innerpage .pageheader h2, .pageheaderblock__title h2 {
    margin-bottom: 27px;
  }
  .docsblock {
    margin-bottom: 22px;
  }
 
  .detailmain__imageblock {
    max-width: 320px;
/*     margin-left: auto;
    margin-right: auto; */
  }
  .pageheaderblock_catalog .pageheaderblock__content {
    padding-right: 30px;
  }
  .detailmain__imageblock {
    margin-right: 30px;
  }
  .logoblock_type2 .logoblock__items .logoblock__item .logoblock__wrapper  {
    width: 100%;
    height: 120px;
  }
  .logoblock__items {
    margin-bottom: 13px;
  }
  .btn_location {
    max-width: 320px;
    margin-top: 18px;
    justify-content: center;
  }
  .contactspage__header li span {
    font-style: normal;
font-weight: 800;
font-size: 12px;
line-height: 130%;
  }
  .contactspage__header li {
    margin-right: 17px;

    &:last-child {
      margin-right: 0;
    }
  }
  .contactspage__header {
    img {
      max-width: 18px;
      min-width: 18px;
    }
  }
  .contactsitems__search {
    width: 100%;
    padding: 0;
    margin-top: 6px;
  }
  .contactsitems__select select {
    font-size: 12px;
    padding:  10px 30px 10px 16px;
  }
  .contactspage__header li {
    padding-bottom: 12px;
  }
  .contactspage__header ul {
    margin-bottom: 12px;
  }
  .contactsitems__filter {
    margin-bottom: 35px;
  }
  .contactstable__title {
    margin-bottom: 7px;
    font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 100%;
  }
  .contactstable__info {
    font-size: 12px;
    margin-bottom: 19px;
  }
  .contactstable .phonesk .phonenumber {

  }
  .phonesk {
    min-height: 36px;
  }
  .btn_location {
    padding: 12px;
  }

  .contactstable__one {
    margin-right: 0;
    margin-bottom: 8px;
  }
  .contactstable__item {
    padding-bottom: 15px;
    margin-bottom: 22px;
  }
  .contactspage__header li {
    opacity: 0.4;
  }
  .contactspage__header li.active {
    opacity: 1;
  }
  .contactspage__map {
    margin-top: 22px;
  }
  .contactsitems__select {
    width: 100%;
    select {
      width: 100%;
      height: 36px;
    }
  }
  .contactsitems__search .searchinput input {
    padding-left: 36px;
  }
  .btn_location span {
    font-size: 12px;
  }
  .btn_location img {
    width: 22px;
    height: 22px;
    margin-right: 8px;
  }
  .contactsitemstable__table {
    margin-bottom: 35px;
  }
}

@media (max-width: 480px) {
  .pageheaderblock__wrapper {
    flex-wrap: wrap;
  }
  
  .pageheaderblock__content {
    padding-right: 0;
  }
  .pageheaderblock__img img {
    position: relative;
    bottom: unset;
    max-width: 100%;
    transform: none;
  }
  .pageheaderblock__image {
    max-width: 100%;
    min-width: 100%;
  }
  .figure {
    display: none;
  }
  .productsblock__item {
    padding: 0;
  }
  .productsblock__item {
    width: 100%;
  }
.catalogpage .figure7 {
  display: none;
}
.catalogpage .figure8 {
  display: none;
}
.catalogpage {
  padding-bottom: 0;
}
.productsblock__items_col3 .productsblock__item {
    width: 100%;
 
}
.productcard_type2 .productcard__image {
  height: unset;
}
.productcard__content .productcard__footer{
  position: static;
}
.productcard__content {
  padding-bottom: 0;
}

.borderblock {
/*   background-image: url(../img/borderimage_mobile.svg);
  height: 112px; */
  font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 130%;
/* or 16px */
padding: 16px;
margin: 18px 0;
color: #FFFFFF;
/* width: 284px; */
}
.description .borderblock strong {
  font-size: 12px;
  line-height: 100%;
}
.showtext {
  a {
    width: 100%;
  }
}

.docsblock__icon {
  margin-right: 8px;
  max-width: 32px;
  min-width: 32px;
}
.docsblock__title {
font-size: 14px;
line-height: 100%;
}
.docsblock__info {
font-size: 12px;
line-height: 130%;
}
.docsblock__item {
flex: unset
}

.pageheaderblock__content {
  padding-right: 30px;
}
.pageheaderblock__image {
  max-width: 320px;
  min-width: 320px;
}
.pageheaderblock {
  min-height: unset;
}
.stepsblock__item {
  min-width: unset;
  max-width: 50%;
}
.wavebgblock.wavebgblock_catalog {
  margin-top: -130px;
}
.pageheaderblock_detail  .pageheaderblock__image {
  order: -1;
}
.logoblock_type2 {
  .logoblock__items {
    display: flex;
    flex-wrap: wrap;
  }
}
.logoblock_type2 .logoblock__items .logoblock__item  {
  width: 50%;
  margin-bottom: 8px;
  padding: 0 4px;
}
.logoblock_type2 .logoblock__items .logoblock__item .logoblock__wrapper  {
  width: 100%;
  height: 78px;
}

.logoblock_type2 {
  margin-bottom: 20px;
}
}